* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ===== SELETORES CUSTOMIZADOS ===== */
.padding-sup {
    padding: 70px 0;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    height: 100%;
    padding: 0;
    margin: 0;
}

ul li a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    display: flex;
    height: 100%;
    width: 100%;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .1rem;
}

ul li a:hover {
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    transition: all .8s;
}

form div {
    margin-left: 10px;
}

input::placeholder {
    color: rgb(77, 68, 68);
}

textarea label {
    color:rgb(77, 68, 68);
}

.btn {
    background-color: #022659;
}

.btn:hover {
    background-color: #0e4694;
}

/* ----- FIM DOS SELETORES CUSTOMIZADOS ----- */


#header {
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#carousel {
    height: 65vh;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)), url("../img/eiffel-tower.jpg"); */
    background-image: url("../img/eiffel-tower.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* ===== MENU DE NAVEGAÇÃO PRINCIPAL ===== */
.main-nav {
    width: 100%;
    height: 70px;
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: #fff;
    display: flex;
    align-items: center;
}

nav div {
    height: 100%;
}

nav .list-items {
    display: flex;
    min-width: 200px;
    width: 100%;
    height: 100%;
}

.list-items li a {
    /* color: #fff; */
    color: #000;
}

.area-logo {
    align-self: flex-start;
    flex-grow: 1;
    display: inherit;
    justify-content: center;
}

.area-logo a {
    display: block;
    display: flex;
}

.area-logo a p {
    display: inline;
    width: auto;
    margin-left: 20px;
}

.area-logo a img {
    width: 50px;
    height: 50px;
}

.area-links {
    flex-grow: 2;
    height: 100%;
}

.area-account {
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.area-account a {
    display: block;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.area-account img {
    display: inline-block;
    width: 100%;
    background-size: contain;
}

/* ----- FIM DO MENU DE NAVEGAÇÃO PRINCIPAL ----- */

/*  ====== SECTION PASSEIOS ====== */

.container-box-passeio {
    height: 300px;
}

.box-passeio {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 25px !important;
}

.box-passeio img {
    height: 250px;
    width: 100%;
}

.arrow-icon {
    font-size: 35px;
}

.area-preco {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ----- FIM DA SEÇÃO PASSEIOS ----- */


#secao-parallax {
    background-image: url("../img/palace.jpg");
    background-size: 100% 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

/* ===== SEÇÃO QUEM SOMOS ===== */
#quem-somos {
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
}

/* FIM DA SEÇÃO QUEM SOMOS ----- */


/* ===== SEÇÃO DE CONTATO ===== */
#contato {
    border-top: 1px solid rgb(139, 135, 135);
}

/* ----- FIM DA SEÇÃO DE CONTATO ----- */


/* ===== SEÇÃO FOOTER ==== */
#footer {
    /* background-color: #022659; */
    /* border-top: 1px solid rgb(139, 135, 135); */
    /* background-color: rgb(175, 174, 174); */
    background-color: #022659;
    color: #fff;
    height: auto;
    padding: 25px 0;
}

#footer .row:nth-child(1) {
    /* border-top: 1px solid rgb(139, 135, 135); */
}

.social-icons {
    display: inline-block;
    margin: 0 25px;
}

.tamanho-icone {
    font-size: 30px;
}

.area-whatsapp {
    display: flex;
}

.area-whatsapp a {
    margin-right: 10px;
}

/* ----- FIM DA SEÇÃO FOOTER ----- */


/* ===== TIPOGRAFIA ===== */
.laranja {
    color: #FF5400;
    font-weight: 600;
}

.azul-escuro {
    color: #022659;
}

.bg-azul-escuro {
    background-color: #022659;
}

.bg-azul-claro {
    background-color: #2D307A;
}

.azul-claro {
    color: #2D307A;
}

.rosa {
    color: #E80054;
}

.text-center {
    text-align: center;
}

.main-title {
    font-size: 40px;
    font-weight: 600;
}

.descricao-passeio {
    font-size: 17px;
    font-weight: 500;
}